body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #f7c7b9 ;
}

.caixa1 {
    width: 1100px;
    position: relative;
    margin:  auto;
    padding-bottom: 80px;
}

#logo {
    padding-left: 5px;
    padding-top: 30px;
}

li {
    display: inline-block;
    margin: 0 0 0 15px;
}

.logo-texto {
    position: relative;
    left: 50px;
    bottom: 30px;
    font-size: 20px;
}

nav {
	position: absolute;
	top: 45px;
	right: 20px;
    line-height: 24px ;
    
}

h1 {
    position: absolute ;
    width: 368px ;
    font-size: 48px;
    height: 104px;
    bottom: 280px;
}

.texto1{
    position: absolute;
    width: 444px;
    height: 48px;
    left: auto;
    top: 310px; 
    line-height: 24px;
}

#imagem-send {
    position: relative;
    width: 600px;
    height: 360px;
    left: 500px;
    padding-top: 35px;
}

#botao1 {
    display: flex;
    position: absolute;
    justify-content: center;
    padding: 12px 32px;
    gap: 10px;
    width: 250px;
    top: 380px;
    background-color: #DA2535 ;
    color: white;
    border-radius: 10px;
    border: none; 
}

h2 {
    position: absolute;
    text-align: center;
    font-size: 48px;
    width: 266px;
    left: 750px;
    top: 684px;
}

.texto2 {
    text-align: center;
    position: absolute;
    display: flex;
    width: 399px;
    left: 690px;
    font-size: 16px;
    line-height: 24px;
    top: 768px;
}

.acessorios {
    width: auto;
	margin: 0 auto;
	padding: 280px 0 50px; 
    text-align: center; 
}

.acessorios p {
    display: inline-block;
	text-align: center;
	width: 198px;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
}

.acessorios img {
    width: 200px;
    top: 864px;
}

.acessorios li {
    width: 280px;
}

h3 {
    text-align: right;
    width: 180px;
    margin: 0;
}

.caixa2 {
    background-color: #f7c7b9;
    position: relative;
    margin: 40px auto;
}

h4 {
    position: absolute;
    justify-content: flex-end;
    width: 468px;
    left: 1036px;
    top: 70px;
    font-size: 48px;
}

#botao2 {
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 12px 32px;
    width: 250px;
    top: 290px;
    left: 1036px;
    background-color: #DA2535 ;
    color: white;
    border-radius: 10px;
    border: none;
}

.texto3 {
    position: absolute;
    width: 430px;
    height: 72px;
    left: 1036px;
    top: 190px;
}

#shared {
 position: relative;
 left: 250px;   
}

